/* btn blue color #007bff */


strong{
  color: rgb(77, 76, 76) !important;
}

.readmore_btn {
  border-style: none;
  width: 15%;
  margin-top: 7rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: #007bff !important;
  color: white;
}

.readmore_btn:hover{
  background-color: #086dd8 !important;

}

body {
  margin: 0;

    font-family:"Poppins", "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif"; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  line-height: 1.47059;
  font-smoothing: antialiased
  font-weight: 400;
  letter-spacing: -0.022em;
  background-color: #050b0e !important;

}

a{
  text-decoration: none !important;
}

p{
  font-family:  Poppins !important;
  font-size: .9rem;
}


h1,h2,h3,h4,h5{
  font-family: Poppins !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
}


.glassy{
  background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.glassy:hover{
  background-color: rgba(255, 255, 255, 0.336);

}

.heaven {
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.title{
  color: white;
  font-weight: 600;
  font-size: 56px;
  /* line-height: 1.0714285714; */
  letter-spacing: -0.005em;
}

@media only screen and (max-width: 800px) {
.glass {
  /* already written code */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* padding: 52px; */
  /* width: 100%; */
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  /* border-radius: 2.5rem; */
  background-image: url("./assets/bright.png") !important;
  background-size: cover !important;
  height: 35rem;
  background-attachment: fixed !important;
  justify-content: space-between;
}


}




/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(5, 31, 150); 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightblue; 
}