.all-Godly-people{
    height: 100vh;

    margin-top: 2rem;
    /* background-color: red; */
    padding: 2rem;
}

.ev-titled{
    color: white;
    font-size: 35px;
    line-height: 1;
    font-weight: 100;
    letter-spacing: 0em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: left;
}

.holders{
    display: flex;
    max-width: 100%;
    margin-left: 10px;

}

.spaceMan{
    margin-left: 10px;
}