.all-Godly-people{
    /* height: 100vh; */

    margin-top: 1rem;
    /* background-color: red; */
    padding: 2rem;
}
.ev-titled {
    /* color: white; */
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    /* margin-left: 2%; */
    margin-bottom: 3%;
    letter-spacing: 0em;
    font-family: Poppins, SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: left;
}

.holders{
    display: flex;
    /* padding: 2rem; */
    max-width: 100%;
        gap: 30px;
        /* justify-content: center; */

}

.spaceMan{
    margin-left: 10px;
}
.events-list {
    list-style-type: none;
    /* padding: 0;
    margin: 0; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  
  .event-item {
    flex: 0 0 calc(33.333% - 20px); /* 3 items per row with some margin */
    /* margin: 10px; */
  }
  @media only screen and (max-width: 800px) {

   .holders {
    display: flex;
    max-width: 100%;
         margin-left: 2rem !important;
    gap: 30px;
    justify-content: lwft;
} 
.events-list {
    display: flex;
    flex-wrap: wrap;
    place-content: center !important;
    list-style-type: none;
    margin-left: 0% !important;
    padding: 0;
}
  }


  .new_holder{
/* height: 300px; */
align-self: flex-start;
  }