.chat-div{
    margin-top: 10%;
    text-align: left;
}


.chat-room-item{
    align-items: center;
    /* background-color: red; */
    text-align: left;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
}

.cha

.chat-preview-content> p{
    margin-bottom: 0px;
}


.chat-preview-content{
    /* background-color: blue; */
}


.sf-image{
width: 25%;
height: 25%;
}


.chat-userName{

}

.chat-job{
    font-size: small;
}

.msg-excpt{
    font-size: smaller;
    color: gray;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

.strong-text{
    font-size: small !important;
}


.chat-preview-content{
    margin-left: 1%;
}