.chat-div{
    margin-top: 10%;
    text-align: left;
}


.chat-room-item{
    al
    background-color: red;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
}

.chat-room-item > p{
    margin-bottom: 0px;
}


.chat-preview-content{
    background-color: blue;
}