/* General container styles */
.checkout-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styles */
  .checkout-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Form section styles */
  .form-section {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
  }


  .pay{
    width: 100% !important;
    margin-top: 1%;
    border-radius: 50px;
  }
  
  .form-section h2 {
    margin-bottom: 15px;
  }
  
  /* Label and input styles */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  label input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styles */
  .checkout-button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    margin-bottom: -2%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout-button:hover {
    background-color: #030932;
  }
  

  .chckout-title{
    font-size: 1.5rem;

  }


  .chckout-title-payment{
    font-size: 1rem;
  }
  

  .pay-lable{
    font-size: small !important;
  }

  .cancel-btn{
    background-color: #e73434;
    color: white;
    border: none;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .cancle-links{
    width: 100%;
  }

  .cancel-btn:hover{
    background-color: #030932;
  }

  .powered-payment{
    font-size: small;
    color: gray;
    align-self: center;
    width: 80%;
    margin-top: 1rem;
}