.action-buttons{
    display: flex;
    background-color: red;
    gap: 2rem;
    width: 100% !important;
    justify-content: space-between;
}


.comment-btn{
    background-color: green;
    border-style: none;

    cursor: pointer;
}

.comment-btn:hover{
    color: gray
}

.like_action{
    background-color: black;
}

.post-actions{
    
}