.action-buttons{
    display: flex;
    background-color: rgb(231, 230, 230);
    width: 100% !important;
    justify-content: space-between;
    border-radius: 10px;
    pad
}


.comment-btn{
    background-color: transparent;
    border-style: none;

    cursor: pointer;
}

.comment-btn:hover{
    color: gray
}

.like_action{
    /* background-color: black; */
}

.post-actions{
    width: 100%;
}


.like-unlike{
    background-color: transparent;
    border-style: none;
}

.like-unlike:hover{
    color:gray;
}