.user_current_event{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: red;
}

.no_event_found{
    background-color: gray;
    height: 30%;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}