.evt-form {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.inner-form {
    width: 90%;
    align-content: center;
    height: 80%;
    background-color: red;
    align-self: center;
    border-radius: 10px;
    color: white;
    display: flex;
}


.form-side{
background-color: aquamarine;
height: 100%;
width: 200px;
}

.image-side{
    background-color: blue;
}