.evt-form {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.inner-form {
    width: 90%;
    align-content: center;
    height: 90%;
    background-color: red;
    align-self: center;
    border-radius: 10px;
    color: white;
    display: flex;
}


.form-side{
background-color: aquamarine;
width: 50%;
}

.image-side{
    background-color: white;
    width: 50%;
    padding: 1.5%;
}
.img-box{
    /* width: 200px;*/
    height: 100%; 
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/connects.png");

}

.right-img-box{
    height: 60%;
    align-items: center;
    align-self: center;

}

.form-side{
    justify-content: center;
    display: flex;
    padding: 1.5%;

}

.form-side-holder{
    align-self: center;
background-color: black;
width: 100%;
height: 80%; 
text-align: left;

}

.form-title{
    color: white;
    font-size:40px;
    b
}