.evt-form {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.inner-form {
    width: 90%;
    align-content: center;
    height: 80%;
    background-color: red;
    align-self: center;
    border-radius: 10px;
    color: white;
    display: flex;
}


.form-side{
background-color: aquamarine;
width: 50%;
}

.image-side{
    background-color: blue;
    width: 50%;
    padding: 2%;
}
.img-box{
    /* width: 200px;*/
    height: 100%; 
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/formbg.jpg");

}

.right-img-box{
    height: 100px;
    align-items: center;
    align-self: center;

}