.all-Godly-people{
    margin-top: 7rem;
}

.event-holder{
    color: white;
    /* width: 30%; */
    /* height: 600px; */
    padding-bottom: 20px;
    border-radius: 2rem;
    /* margin-top: 5rem; */
}

.event-content-holder{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    /* margin: 5; */
}

.event-image{
    width: 90%;
    margin-top: 2rem;
    border-radius: 2rem;
}

.counterHeading{
    font-size: 1.5em;
    margin-top: 1rem;
    text-align: left;
    margin-left: 1.5rem;
    /* font-weight: 300; */
}

.event-desc-new{
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;

}

.newtext {
    font-size: 21px;
    line-height: 24px;
    font-weight: 100;
    /* font-family: "SF Pro Display";    line-height: 24px;
    font-weight: 100;
    /* font-family: "SF Pro Display"; */
  }

  .events-date-element{
    margin: 1.5rem;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(59, 59, 59, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
  }

  .icon-work{
display: flex;
align-items: center;
  }

  .ev-date-number{
margin-top: -9px;
color: #b8b4b4;
  }

  .ev-date-title{

  }


.date-only{
    margin-left: 10px;
}

.ic{
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {
    .event-detals-holder {
        display: flex;
        flex: 1 1;
        flex-direction: column;
    }
    
    .event-title-details {
        font-size: 2rem;
        line-height: 1.0714285714;
        font-weight: 600;
        letter-spacing: -0.005em;
        color: white;
        text-align: left;
        /* margin-left: 1rem; */
        /* margin-top: 5rem; */
        /* margin-bottom: 2rem; */
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
}