.evt-form {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.inner-form {
    width: 90%;
    align-content: center;
    height: 480px;
    background-color: red;
    align-self: center;
    border-radius: 20px;
}
