.all-Godly-people{
    margin-top: 10rem;
}

.event-holder {
    color: white;
    /* width: 30%; */
    cursor: pointer;
    /* height: 600px; */
    padding-bottom: 9px;
    border-radius: 1rem;
    /* margin-top: 5rem; */
}

.event-content-holder{
    width: 24rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 5; */
}

.custom-progress-bar {
    width: 50%; /* Set the desired width */
  }

.progress-container{
    width: fit-content;
    height: fit-content;
}


.event-image {
    border-radius: 10px;
    width: 400px;
    margin: 21px;
    height: 280px;
}

.counterHeading{
    font-size: 1.5em;
    margin-top: 1rem;
    text-align: left;
    margin-left: 1.5rem;
    /* font-weight: 300; */
}

.event-desc-new{
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;

}

.newtext {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 300;
    /* font-family: "SF Pro Display";    line-height: 24px;
    font-weight: 100;
    /* font-family: "SF Pro Display"; */
  }

  .events-date-element {
    margin: 1rem;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(59, 59, 59, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
}

  .icon-work{
display: flex;
align-items: center;
  }

  .ev-date-number{
margin-top: -9px;
color: #b8b4b4;
  }

  .ev-date-title{

  }


.date-only{
    margin-left: 10px;
}

.ic{
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {
    .event-detals-holder {
        display: flex;
        flex: 1 1;
        flex-direction: column;
    }
    
    .event-title-details {
        font-size: 2rem !important;
        line-height: 1.0714285714;
        font-weight: 600;
        letter-spacing: -0.005em;
        color: white;
        text-align: left;
        /* margin-left: 1rem; */
        /* margin-top: 5rem; */
        /* margin-bottom: 2rem; */
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .ic-name {
        margin-left: 5px;
        width: 34%;
        color: white;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        font-size: 13px;
        font-weight: 200;
    }
    .ic {
        font-size: 16px;
        color: white;
    }
    .event-content {
        margin-top: 20% !important;
        padding: 38px 8% 5% !important;
                display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .event-full-desc {
        font-size: 1rem !important;
        line-height: 1.19048;
        font-weight: 400;
        /* align-content: center; */
        letter-spacing: .011em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        margin-top: 4px;
        color: white;
        text-align: left !important;
    }

    .agenda-item {
        width: 200px;
        text-align-last: left;
        text-align: left;
        font-size: 1rem !important;
        margin-top: 5px;
    }

    .inner-form {
        width: 90% !important;
        align-content: center;
        height: 90%;
        background-color: white;
        align-self: center;
        border-radius: 10px;
        flex-direction: column !important;
        color: black;
        display: flex;
    }

    .form-side {
        justify-content: center;
        display: flex;
        width: 100% !important;
        padding: 5%;
    }
    

    
}


.spacer{
    height: 2rem;
    /* background-color: blue; */
}

.new-event-details2{
    margin: 3rem 1rem .2rem 1rem;
    background-color: white;
    border-radius: 10px;
    color: black !important;
}


.new-title{
            font-size: 1.5rem;
        /* line-height: 1.0714285714; */
        letter-spacing: -0.005em;
    
}


.events-date-element2 {
    margin: 1rem;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    padding: .5rem;
    background-color:#c4c4c433;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
}

.ev-date-title2{
    margin-bottom: 0px;
    font-size: small;

}
.ev-date-title3{
    font-size: smaller;

    font-weight: 300;
    margin-bottom: 0px;
}

.ic {
    font-size: 30px !important;
    color: rgb(78, 78, 78) !important;
}


.event-status{
    /* background-color: red; */
    width: 5.6rem;
    padding: .5rem;
    margin: 1rem;
    font-size: smaller;
    border-radius: 20px;
}