.event-title-details{
        font-size: 56px;
        line-height: 1.0714285714;
        font-weight: 600;
        letter-spacing: -0.005em;
        color: white;
        text-align: left;
        margin-left: 1rem;
        margin-top: 5rem;
        margin-bottom: ;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
.event-host-details{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
     color: white;
}

.title-copy {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.event-detals-holder{
    display: flex;
    flex: 1;
    flex-direction: column;

}