.footer{
    height: 20rem;
    /* width: 100%; */
    background-color: rgb(36, 36, 36);
    padding: 0rem;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer-ic{
width: 8%;
}

.site-link{
font-size: 0.9rem;
color: gray;
margin-top: 10px;
}

.footer_top{
    background-color: blue;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1%;
    display: flex;
}

.footer_lower{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: red;
    
    padding-left: 2rem;
    padding-right: 2rem;
}

.ft_section{
    background-color: red;
    height: 100%;

    width: 300px;
}