.footer{
    height: 35rem;
    /* width: 100%; */
    background: linear-gradient(
        to left, rgba(6, 8, 120, 0.85),
        rgb(17, 29, 95)
      );
    padding: 0rem;
    display: flex;
    /* --bs-gradient:
    flex-direction: column; */
    margin-top: 10rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer-ic{
width: 8%;
}

.site-link{
font-size: 0.9rem;
color: gray;
margin-top: 10px;
}

.footer_top{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1%;
    display: flex;
}

.footer_lower{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ft_section{
    background-color: red;
    height: 100%;
    width: 300px;
}


.ftl_top_section{
    height: fit-content;
}

.copyright{
    font-size: small;
    align-self: left;
    text-align: left;
}

.social-media-icons{
    display: flex;
    gap: 10px;
    margin-bottom: 1%;
}


.skip_footer_about{
    font-size: small;
    text-align: left;
}

.ft_ic{
    font-size: large;
}