.footer{
    height: 50%;
    /* width: 100%; */
    background-color: rgb(36, 36, 36);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    color: white;
}

.footer-ic{
width: 9%;
}