.footer{
    height: 30rem;
    /* width: 100%; */
    /* background: linear-gradient(
        to left, rgba(2, 3, 52, 0.85),
        #01050e
      ); */
/* 
      background: linear-gradient(
        to left, rgba(88, 88, 88, 0.85),
        #3e3e3e
      ); */

      font-family: Poppins !important;
    padding: 0rem;
    display: flex;
    /* --bs-gradient:*/
    flex-direction: column; 
    margin-top: 10rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer-ic{
width: 8%;
}

.ft_desc{
    cursor: pointer;

}

.ft_desc:hover{
    color: gray;
}

.site-link{
font-size: 0.9rem;
color: gray;
margin-top: 10px;
}

.footer_top{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1%;
    display: flex;
}

.footer_lower {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ft_section {
    /* background-color: red; */
    /* height: 100%; */
    display: flex;
    width: 300px;
    gap: 10px;
    text-align: left;
    flex-direction: column;
}

.ft_title{
    font-family: Poppins;
}

.ft_ic_text{
    display: flex;
    gap: 10px;
}

.ft_ics_text{
    display: flex;
    flex-direction: column;
    /* background-color: #013cbe; */
}

.ft_ic_tf{

}
.ft_desc{
    margin-bottom: 0px;
    font-size: small;
}
.ft_section2 {
    /* background-color: green; */
    height: 100%;
    display: flex;
    align-items: center;
    width: 300px;
    flex-direction: column;
    justify-content: center;
}


.ftl_top_section{
    height: fit-content;
}

.copyright{
    font-size: small;
    align-self: left;
    text-align: left;
}

.social-media-icons{
    display: flex;
    gap: 10px;
    margin-bottom: 1%;
}


.skip_footer_about{
    font-size: small;
    text-align: left;
}

.ft_ic{
    font-size: 2rem;
    cursor: pointer;
}

.ft_ic:hover{
    color: gray;
}

.ft_logo{
    width: 50%;
    
}