.footer{
    height: 50%;
    /* width: 100%; */
    background-color: rgb(36, 36, 36);
    padding: 0rem;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer-ic{
width: 8%;
}

.site-link{
font-size: 0.9rem;
color: gray;
margin-top: 10px;
}

.footer_lower

.footer_lower{
    background-color: red;
}