.glass {
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    background-position: center;
    background-image: url("../assets/upd.jpg");
    background-size: cover;
    height: 50rem;
}



.glass2 {
    background-color: rgb(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    /* border-radius: .5rem; */
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    height: 35rem;
  justify-content: space-between;
}
.header_ {
    /* width: 100%; */
    /* height: 30rem; */
    /* border-radius: 3rem; */
    background-color: rgb(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* margin: 1%; */
}
.host-here{
    /* background-color: red; */
    display: flex;
    padding: 2rem;
    width: 100%;
    align-items: center;
    height: fit-content;
    /* padding: 1rem; */
    justify-content: space-between;
}
.header_ic{
    width: 7%;
}


.host {
    margin: 1rem;
    color: white;
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .5rem;
    cursor: pointer;

    width: 7em;
    justify-content: center;
    border-radius: 5rem;
}

.user_ic{
    font-size: larger;
    color: white;
}

.login-text{
    margin: 0px !important;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.new-event-name{
    color: white;
    font-weight: 600;
    font-family: Poppins !important;
    font-size: 56px;
        /* line-height: 1.0714285714; */
    letter-spacing: -0.005em;

}

.event-details{
    /* background-color: red; */
    text-align: center;
    padding: 13rem 2rem;


  /* background: linear-gradient(
    to top,
    rgba(0, 0, 0, 10.85),
    transparent
  ); */
}

.new-event-desc{
    width: 35%;
    display: none;
    color: rgb(180, 180, 180);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 300;
}

.btn-layer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.read-more {
    border-color: #0000;
    border-radius: 2rem;
    margin-right: .5rem;
    background-color: #007bff;
    color: white;
    height: 2em;
    width: 11rem;
}
.read-more:hover{
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
}
.rsvp {
    background-color: initial;
    border: 2px solid #fff;
    border-radius: 2rem;
    color: #fff;
    width: 177px;
    height: 2em;
    /* padding: 1rem; */
}

.rsvp:hover{
    background-color: rgb(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);    color: white;
    border: transparent;

}


@media screen and (min-width: 1000px) {
    .glass {
        background-color: rgb(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        background-position: center;
        background-size: cover;
        height: 60rem;
    }
  }