.glass {
    /* already written code */
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 52px;
    height: 30rem;
    width: 100%;
    /* margin: 1rem; */
    border-radius: 3rem;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}
.header{
    width: 100%;

}
