.glass {
    /* already written code */
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* padding: 52px; */
    /* width: 100%; */
    /* margin: 1rem; */
    border-radius: 2.5rem;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    height: 30rem;
}
.header{
    /* width: 100%; */
    height: 30rem;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
.host-here{
    background-color: red;
    display: flex;
    width: 100%;
    height: fit-content;
    
}

.host{

}

