.header_ {
    position: relative;
    height: 30rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: 1%;
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video stays in the background */
  }
  
  .video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .glass {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    height: 100%;
    justify-content: space-between;
    padding: 2rem;
    z-index: 1; /* Ensure content stays above the video */
  }
  
  .host-here {
    display: flex;
    width: 100%;
    height: fit-content;
  }
  
  .host {
    margin: 1rem;
    color: white;
    padding: 1rem;
    border-radius: 5rem;
  }
  
  .new-event-name {
    color: white;
    font-weight: 600;
    font-size: 56px;
    letter-spacing: -0.005em;
  }
  
  .event-details {
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  }
  
  .new-event-desc {
    width: 35%;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 21px;
    font-weight: 200;
  }
  
  .btn-layer {
    display: flex;
    margin-top: 1rem;
  }
  
  .read-more {
    border-radius: 50px;
    border-color: transparent;
    padding: 1rem;
    width: 200px;
    margin-right: 0.5rem;
  }
  
  .read-more:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
  }
  
  .rsvp {
    border-radius: 50px;
    padding: 1rem;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
  
  .rsvp:hover {
    background-color: black;
    color: white;
    border: transparent;
  }
  