.glass {
    /* already written code */
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* padding: 52px; */
    /* width: 100%; */
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    height: 30rem;
    background-attachment: fixed;
    justify-content: space-around;
}
.header__{
    /* width: 100%; */
    height: 30rem;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: 20px 0 -5px 1%;
    border-radius: 0.23em;
    padding: 10px;
    align-content: center;
    /* height: 5%;
}
.host-here{
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: fit-content;
    /* padding: 1rem; */
}

.host{
margin-left: 1rem;
color: white;
padding: 1rem;
border-radius: 5rem;
}

.event-details{
    background-color: red;
    text-align: left;
    padding: 2rem;

}