.glass {
    /* already written code */
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* padding: 52px; */
    /* width: 100%; */
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    background-position: bottom;
    background-image: url("../assets/bright2.png;
    background-size: cover;
    height: 50rem;
    justify-content: space-between;
}



.glass2 {
    background-color: rgb(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    /* border-radius: .5rem; */
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    height: 35rem;
  justify-content: space-between;
}
.header_ {
    /* width: 100%; */
    /* height: 30rem; */
    /* border-radius: 3rem; */
    background-color: rgb(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* margin: 1%; */
}
.host-here{
    /* background-color: red; */
    display: flex;
    padding: 2rem;
    width: 100%;
    height: fit-content;
    /* padding: 1rem; */
}

.host {
    margin: 1rem;
    color: white;
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .5rem;
    cursor: pointer;

    width: 7em;
    justify-content: center;
    border-radius: 5rem;
}

.user_ic{
    font-size: larger;
    color: white;
}

.login-text{
    margin: 0px !important;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.new-event-name{
    color: white;
    font-weight: 600;
    font-family: Poppins !important;
    font-size: 56px;
        /* line-height: 1.0714285714; */
    letter-spacing: -0.005em;

}

.event-details{
    /* background-color: red; */
    text-align: left;
    padding: 10rem 2rem;
/* margin: 1rem; */
/* border-radius: 1rem; */
/* background-image: linear-gradient(
    0deg,
    hsla(0, 0%, 35.29%, 0) 0%,
    hsla(0, 0%, 34.53%, 0.034375) 16.36%,
    hsla(0, 0%, 32.42%, 0.125) 33.34%,
    hsla(0, 0%, 29.18%, 0.253125) 50.1%,
    hsla(0, 0%, 24.96%, 0.4) 65.75%,
    hsla(0, 0%, 19.85%, 0.546875) 79.43%,
    hsla(0, 0%, 13.95%, 0.675) 90.28%,
    hsla(0, 0%, 7.32%, 0.765625) 97.43%,
    hsla(0, 0%, 0%, 0.8) 100%
  ); */

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 10.85),
    transparent
  );
}

.new-event-desc{
    width: 35%;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 21px;
    font-weight: 200;
}

.btn-layer{
    display: flex;
    margin-top: 1rem;
}

.read-more {
    border-color: #0000;
    border-radius: 5px;
    margin-right: .5rem;
    /* padding: .3rem; */
    height: 3em;
    width: 177px;
}
.read-more:hover{
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
}
.rsvp {
    background-color: initial;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 10%;
    height: 3em;
    /* padding: 1rem; */
    text-shadow: 0 2px 3px #0000004d;
}

.rsvp:hover{
    background-color: black;
    color: white;
    border: transparent;

}