.glass {
    /* already written code */
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* padding: 52px; */
    /* width: 100%; */
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    height: 30rem;
    background-attachment: fixed;
    justify-content: space-between;
}
.header_{
    /* width: 100%; */
    height: 30rem;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: 1%;
}
.host-here{
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: fit-content;
    /* padding: 1rem; */
}

.host{
margin: 1rem;
color: white;
padding: 1rem;
border-radius: 5rem;
}

.event-details{
    background-color: red;
    text-align: left;
    padding: 2rem;
margin: 1rem;
}

.new-event-desc{
    width: 35%;
}

.btn-layer{
    display: flex;
}

.read-more{
border-radius: 50px;
border-color: transparent;
padding: 1rem;
margin-right: 1rem;
}

.rsvp{
    border-radius: 50px;
    padding: 1rem;
    border-color: transparent;
    background-color: ;

}