.glass {
    /* already written code */
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 5px;
    height: 30rem;
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
  }

