.iconBox{
display: flex;
/* gap: 5; */
/* background-color: red; */
align-items: center;
margin-top: 5px;
}

.ic{
    font-size: 20px;
    color: white;
}

.ic-name{
    margin-left: 5px;
    width: 35%;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 200;
}