.kings-holder{
    display: flex;
    flex: 1;
    background-color: #1b3d4d;
    height: 100vh;
}

.welcome-note{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
}