.kings-holder{
    display: flex;
    flex: 1;
    background-color: #043044;
    height: 100vh;
    flex-direction: column;
}

.welcome-note{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.greetings{
    color: white;
    /* font-size: rem; */
}

.events-mx{
color: white;
font-weight: 400;

}