.kings-holder{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.welcome-note{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    color: white;
    align-items: left !important;
    letter-spacing: -0.005em;
}

.greetings{
    color: white;
    /* font-size: rem; */
}

.events-mx{
color: white;
font-weight: 400;

}

.heading {
    color: white;
    font-size: 35px;
    line-height: 1;
    font-weight: 100;
    letter-spacing: 0em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}


.heading-holder{
    padding-left: 2rem;
        text-align: left;
        margin-top: 4rem;
        margin-bottom: 4rem;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media only screen and (max-width: 800px) {
    .welcome-note {
        font-size: 2rem;
        line-height: 1.0714285714;
        font-weight: 600;
        color: white;
        margin-bottom: 1rem;
        align-items: left !important;
        letter-spacing: -0.005em;
    }
    .heading {
        color: white;
        font-size: 25px;
        line-height: 1;
        font-weight: 100;
        letter-spacing: 0em;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    .header_ {
        /* width: 100%; */
        /* height: 35rem; */
        border-radius: 3rem;
        background-color: rgb(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        margin: 1%;
    }

    .new-event-name {
        color: white;
        font-weight: 600;
        font-size: 32px !important;
        /* line-height: 1.0714285714; */
        letter-spacing: -0.005em;
    }
    .new-event-desc {
        width: 100% !important;
        color: white;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        font-size: 21px;
        /* font-weight: 200; */
        font-weight: 300;

    }
    .rsvp {
        border-radius: 50px;
        padding: 1rem;
        border: 2px solid white;
        color: white;
        width: 7rem;
        font-size: 1rem;

        background-color: transparent;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }

    .host-here {
        /* background-color: red; */
        /* display: flex; */
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
        /* padding: 1rem; */
    }

.read-more {
    border-radius: 50px;
    border-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    width: 200px;
    margin-right: 0.5rem;
}
  }