.kings-holder{
    display: flex;
    background-color: #050b0e;
    height: 100vh;
    flex-direction: column;
}

.welcome-note{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    color: white;
    align-items: left !important;
    letter-spacing: -0.005em;
}

.greetings{
    color: white;
    /* font-size: rem; */
}

.events-mx{
color: white;
font-weight: 400;

}

.heading {
    color: white;
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}


.heading-holder{
    padding-left: 2rem;
        text-align: left;
        margin-top: ;
}