.header-mobile {
  display: none;
}

.header_ics2 {
  display: none;
}

.header_ics {
  display: flex;
  gap: 10px;
}

.bottom-navigation-area{
    display: none;
}


.hideOnPc{
  display: none;
}

.hideOnMobile

@media only screen and (max-width: 800px) {
  .our_recent_desc {
    font-size: 1rem;
    width: 100% !important;
    margin-bottom: 0px;
    font-weight: 300;
  }

  .carousel-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: fit-content;
    /* background-color: red; */
    width: fit-content;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    position: relative;
    margin-left: 0rem !important;
}

.hideOnPc{
  display: block;
}

.breadcrumb {
  padding: .5rem;
  margin-left: 0% !important;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(68, 67, 67, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-weight: 600;
  width: 10rem;
  place-content: center;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(222, 222, 222);
}

/* .carousel-controls {

  background-color: green;
} */

.Jq-area{
  /* background-color: red; */
}

  .bottom-navigation-area{
    display: block;
  }
  .recent_event_data {
    display: flex;
    flex-direction: column !important;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(28, 28, 28); */
    height: 100%;
  }

  .recent_img {
    width: 100% !important;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    border-radius: 1rem;
    height: 100%;
  }

  .recent_text_holder {
    display: flex;
    width: 100% !important;
    text-align: left;
    align-self: center;
    flex-direction: column;
}

  .readmore_btn {
    border-style: none;
    width: 100% !important;
    margin-top: 0rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(19, 19, 75);
    color: white;
  }

  .rth_desc {
    width: 100% !important;
    color: rgb(75, 75, 75);
    margin-top: .5rem;
    align-self: center;
    font-size: 1rem;
    font-weight: 300;
}

  .main-layout {
    display: flex;
    overflow: hidden;
    flex-direction: column !important;
    flex: 1 1;
  }

  .left-sidebar,
  .right-sidebar {
    width: 100% !important;
    padding: 1rem;
    /* display: none !important; */
    background-color: white;
    overflow-y: scroll !important;
    height: 100vh;
  }

  .main-content {
    flex: 1 1;
    padding: 1rem 1rem !important;
    overflow-y: initial !important;
    height: 100vh !important;
    /* background-color: red; */
  }

  .user_current_event2 {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .space-me {
    gap: 1rem;
    /* display: none !important;  */
  }

  .search_input {
    border-radius: 50px;
    padding: 5%;
    display: none !important;
    width: 11em;
    height: 2em;
    background-color: #c7c7c7;
  }

  .header-left .logo {
    width: 4em !important;
    margin-right: 1rem;
  }

  .user_details_bar {
    display: none !important;
    align-items: center;
    align-items: start;
  }

  .user_current_event {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .left-sidebar {
    padding: 0px !important;
  }

  .header-mobile {
    display: flex !important;
    /* background-color: black; */
    width: fit-content;
    height: fit-content;
  }

  .header-ics {
    display: none !important;
    width: 0px !important;
  }

  .header_ics2 {
    gap: 2rem;
    display: flex !important;
  }
  .main_header {
    display: none;
  }

  .shadeMe {
    font-size: 1.2rem;
    padding: 0.5rem !important;
    border-radius: 50%;
    color: rgb(71, 71, 71);
  }

  .no_event_found_txt {
    font-weight: bold !important;
    margin-bottom: 0px;
}


.logout-btn {
    margin: 0rem !important;
    border-style: none !important;
    border-color: transparent;
    background-color: transparent;
  }

  .nt_text{
    margin-bottom: 0px;
    color: gray;
  }



.frnds-chat{
    font-weight: 300;
}

:where(.css-dev-only-do-not-override-ccdg5a).ant-popover .ant-popover-inner {
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 9px !important;
  }


  .ic_post_area {
    display: flex;
    gap: 5%;
    /* background-color: red; */
    align-items: center;
  }

  .icp_text {
    margin: 0px;
    font-size: small !important;
  }


  .header2 {
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 0 0rem !important;
    position: sticky;
    top: 0;
    z-index: 1000;
  }



  .story {
    background-color: white;
    padding: 0rem !important;
    border-radius: 12px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }

  .mobile_ic_resize{
    font-size: 1rem !important;
  }

  .ic_post_area{
    /* background-color: red; */
    margin: .5rem;
  }


  .make-post-input {
    border-radius: 20px;
    width: 100%;
    background-color: #c7c7c7;
    color: black;
    height: 70% !important;
  }
}

.header-mobile {
  display: none;
}
