@media only screen and (max-width: 800px) {

    .our_recent_desc {
        font-size: 21px;
        width: 100% !important;
        margin-bottom: 0px;
        font-weight: 300;
    }


    .recent_event_data {
        display: flex;
        flex-direction: column !important;
        margin-top: 2.5rem;
        justify-content: center;
        /* background-color: rgb(28, 28, 28); */
        height: 100%;
    }
}
