.popup-userName{
 font-size: medium;   
 margin-bottom: 0px;
 margin-left: .5rem;
 font-size: small;
 align-self: center;
}


.popup-avatar-area{
    display: flex;
    align-items: center;
    mar
    align-content: center;
    /* background-color: red; */
    width: fit-content;
}

.create-post-actions{
    display: flex;
    gap:10px;
    margin-bottom: .5rem;
}