.popup-userName{
 font-size: medium;   
 align-self: center;
}


.popup-avatar-area{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: red;
    width: fit-content;
}