/* Container for the Carousel */
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: auto;
  }
  
  /* Quote Card Styling */
  .quote-card {
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .quote-text {
    font-size: 1.2rem;
    font-style: italic;
    color: #333;
  }
  
  /* Controls for Next and Prev Buttons */
  .carousel-controls {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    ga
    padding: 0 2rem;
    position: absolute;
    bottom: 10px; /* Positioned at the bottom of the card */
  }
  
  .carousel-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .carousel-button:hover {
    background-color: #0056b3;
  }
  