.recents{
 display: flex;
 flex-direction: column;
 /* background-color: red; */
 height: 100vh;   
 margin-top: 2rem;
 padding: 2rem;

}

.recents_title{
font-size: large;
}

.recent_event_data{
    display: flex;
    background-color: blue;
    height: 100%;
}

.recent_img{
    width: 50%;
    height: 100%;
}