.recents{
 display: flex;
 flex-direction: column;
 /* background-color: red; */
 /* height: 100vh;    */
 margin-top: 2rem;
 padding: 2rem;

}

.recents_title{
font-size: large;
margin-bottom: 5%;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

.recent_event_data{
    display: flex;
    margin-top: 5rem;
    /* background-color: rgb(28, 28, 28); */
    height: 100%;
    
}

.recent_img{
    width: 50%;
    border-radius: 6rem;
    height: 100%;
}

.our_recent_desc{
    font-size: 21px;
  width: 50%;
  margin-bottom: 0px;
  font-weight: 300;
}

.recent_text_holder{
    display: flex;
    width: 50%;
    text-align: left;
    align-self: center;
    flex-direction: column;

}

.rth_desc{
    width: 80%;
    color: rgb(75, 75, 75);
    align-self: center;
    font-size: 21px;
    font-weight: 300;
}

.readMore_section{
    /* background-color: red; */
    height: 30%;
    margin-top: 5rem;
}

.readmore_btn{
    border-style:  none;
    width: 15%;
    margin-top: 7rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(19, 19, 75);
    color: white;
}

.readmore_btn:hover{
    background-color: black;
}


.rc_title{
  font-size: 35px;
  line-height: 1;
  font-weight: 700;
  margin-left: 2%;
  margin-bottom: 3%;
  letter-spacing: 0em;
  font-family: Poppins, SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;

}