.recents{
 display: flex;
 flex-direction: column;
 background-color: red;
 height: 100vh;   
}

.recents_title{

}

.recent_event_data{
    display: flex;
    padding: 2rem;
    background-color: blue;
    height: 40%;
}