.register_page{
    /* background-position: bottom; */
    background-size: cover;
    background-image: url("../assets/bree.jpg") !important;
}

.evt-form{
    height: 100vh;
}


.login-btn {
    background-color: black;
    padding: .5rem;
    color: white !important;
    border-radius: 8px;
    width: 30% !important;
    display: flex;
    place-content: center;
  }


  .login-btn:hover{
    background-color: rgb(52, 51, 51);
    color: white !important;
  }


  .inner-form{
    top: 0; /* Keeps it stuck at the top */
  }

  


  .backhme2{
    color:'white' !important;
    text-decoration: none;
    background-color: white;
    padding: .5rem;
    font-size: smaller;
    display: block;
    border-radius: 30px;
  }

  .backhme{
    display: none;
  }

.bbc{
    color: white !important;
}

.progress-bar{
    margin-top: 2%;
}

.backhme{
    color: rgb(26, 26, 26);
}

.backhme:hover{
    color: gray;
}

.consent_text{
    margin-top: 5%;
    color: rgb(59, 59, 216);
    font-weight: 600;
    
}

@media only screen and (max-width: 600px) {

    .create_mobile{
        margin-top: 10%;
        padding-left: 0rem !important; 
    }

    .flexMeForm {
        display: flex;
        gap: 5px !important;
        text-align: center;
    }

    .bbc{
        color: white !important;
        align-items: center;
        width: 100%;
        align-self: center;
     

    }

}


.qoutes_layout{
    /* background-color: red; */
    height: fit-content;
    display: flex;
    flex-direction: column;
}