.register_page{
    /* background-position: bottom; */
    background-size: cover;
    background-image: url("../assets/eyes.png") !important;
}


.bbc{
    color: black !important;
}

.consent_text{
    margin-top: 5%;
    color: rgb(67, 67, 236);
    font-weight: 600;
    
}