.udb-actions{
    /* background-color: black; */
    display: flex;
    gap: 1%;
    margin-top: 1%;
}

.udb-btn{
border-radius: 50px;
}

.udb-btn-decline{
color: white;
font-size: small;
background-color: red;
}


.udb-btn-approve{
    font-size: small;
background-color: green;
color: white;
}