.udb-actions{
    background-color: red;
    display: flex;
    gap: 10px;
}

.udb-btn{
border-radius: 50px;
}

.udb-btn-decline{
color: white;
background-color: red;
}


.udb-btn-approve{
background-color: green;
}