.udb-actions{
    /* background-color: black; */
    display: flex;
    gap: 1%;
    margin-top: 1.5%;
}

.udb-btn{
/* border-radius: 50px; */
font-size: smaller;

}

.udb-btn-decline{
color: white;
background-color: red;
}


.udb-btn-approve{
background-color: green;
color: white;
}